{{set . "title" "Problem"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
</div>
</div>
<div class="ui two column page grid">
	{{template "left_side.html" .}}
	<div class="twelve wide column">
<div class="ui piled segment">
	<div class="ui segment center aligned">
		<h3>{{.prob.Title}}</h3>
        <p>TIME LIMIT  <span class="ui red tag label large">{{.prob.TimeLimit}}</span></p>
        <p>MEMORY LIMIT <span class="ui purple tag label large">{{.prob.MemoryLimit}}</span></p>
	</div>
	{{text .prob.Description}}
    <div class="ui divider"></div>
    <div class="ui inverted green segment">
	<p class="inverted">Input Sample</p>
    </div>
	{{text .prob.InputSample}}
    <div class="ui divider"></div>
    <div class="ui inverted blue segment">
	<p>Output Sample</p>
    </div>
	{{text .prob.OutputSample}}
</div>
	{{if .session.username }}
	<a class="ui button" href="/code/answer/{{.prob.Id}}">submit</a>
	{{end}}
	{{if isAdmin .session.username}}
	<a class="ui button" href="/problem/edit/{{.prob.Id}}">edit</a>
	<a class="ui red button" href="/problem/delete/{{.prob.Id}}">delete</a>
	{{end}}
	</div>
</div>
<script>
    $('.markdown').each(function(){
       $(this).html(marked($(this).text()));
    });
</script>
{{template "footer.html" .}}
