test-results/
src/OJ/conf/app.conf
src/OJ/conf/misc.conf
src/OJ/app/tmp/main.go
src/OJ/app/routes/routes.go
src/OJ/app/check/tmp/
src/OJ/tests/test/*/bin/
src/github.com/*
src/code.google.com/p/*
src/OJ/code/
src/OJ/problem/
src/OJ/log/
tmp/
bin/*
app.conf
misc.conf
*.swp

