test-results/
conf/app.conf
conf/misc.conf
app/tmp/main.go
app/routes/routes.go
app/check/tmp/
judge/judge
tests/test/*/bin/
OJ.log
code/
problem/
log/
tmp/
bin/*
reminder.mkd
app.conf
misc.conf
*.swp

