{{set . "title" "Status"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
    <div class="ui sub menu">
      <a class="item" href="/">SET</a>
      <a class="active item" href="#">STATUS</a>
    </div>
</div>
</div>
    <div class="ui two column page grid">
      <div class="four wide column">
        <div class="ui vertical pointing menu">
          <a class="item">
            <i class="user icon"></i> PROFILE
          </a>
          <a class="item">
            <i class="flag icon"></i> SOLVED
          </a>
        </div>
      </div>
      <div class="twelve wide column">
        <table class="ui table segment">
          <thead>
            <tr>
              <th>#</th>
              <th>When</th>
              <th>Who</th>
              <th>Problem</th>
              <th>Lang</th>
              <th>Verdict</th>
              <th>Time</th>
              <th>Memory</th>
            </tr>
          </thead>
          <tbody>
          	{{range $s := .sources}}
            <tr>
              <td>123213</td>
              <td>1993.10.1</td>
              <td>{{$s.UserId}}</td>
              <td>sum</td>
              <td>GUN C++</td>
              <td class="positive">{{ $s.StatusString }}</td>
              <td>0 ms</td>
              <td>0 KB</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
{{template "footer.html" .}}
