[postgres]
user=postgres
password=postgres
host=localhost
port=5432
dbname=finances
host=localhost
port=5432
sslmode=disable
show_err=true
show_sql=true
show_debug=true
show_warn=true

[smtp]
username=someone@example.com
password=password
host=smtp.gmail.com
address=smtp.gmail.com:25
from=someone@example.com

[app]
admin=admin
