[postgres]
user=postgres
password=postgres
dbname=finances
host=localhost
port=5432
sslmode=disable
show_err=true
show_sql=true
show_debug=true
show_warn=true

[smtp]
smtp.username=someone@example.com
smtp.password=password
smtp.host=smtp.gmail.com
smtp.address=smtp.gmail.com:25
smtp.from=someone@example.com

[app]
admin=admin
