{{set . "title" "reset"}}
{{template "header.html" .}}
{{template "Account/headpart.html" .}}
<div class="ui three column grid">
	<div class="column">
	</div>
	<div class="column">
		<form method="POST" action="/Account/PostReset">
			<div class="ui form segment">
				<div class="field">
					<label>密码</label>
					<div class="ui left labeled icon input">
						<input type="password" name="user.Password" placeholder="Password">
						<i class="lock icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<label>确认密码</label>
					<div class="ui left labeled icon input">
						<input type="password" name="user.ConfirmPassword" placeholder="Confirm Password">
						<i class="lock icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
				<button class="ui blue submit button">重置</button>
			</div>
		</form>
	</div>
	<div class="column">
	</div>
</div>
</form>
{{template "footer.html" .}}
