{{set . "title" "Login"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
</div>
</div>
<div class="ui three column grid">
	<div class="column">
	</div>
	<div class="column">
		<form method="POST" action="/account/login">
			<div class="ui form segment">
				<div class="field">
                    <label>{{msg . "account.email"}}</label>
					<div class="ui left labeled icon input">
                        <input type="text" name="user.Email" placeholder="{{msg . "account.email"}}">
						<i class="user icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
				<div class="field">
                    <label>{{msg . "account.password"}}</label>
					<div class="ui left labeled icon input">
                        <input type="password" name="user.Password" placeholder="{{msg . "account.password"}}">
						<i class="lock icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
                <button class="ui blue submit button">{{msg . "login"}}</button>
                <a class="ui green button" href="/account/forgot">{{msg . "account.forgot"}}</a>
			</div>
		</form>
	</div>
	<div class="column">
	</div>
</div>
{{template "footer.html" .}}
