{{set . "title" "reset"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
<div class="ui three column grid">
	<div class="column">
	</div>
	<div class="column">
		<form method="POST" action="/account/reset">
			<div class="ui form segment">
				<div class="field">
                    <label>{{msg . "account.password"}}</label>
					<div class="ui left labeled icon input">
                        <input type="password" name="user.Password" placeholder="{{msg . "account.password"}}">
						<i class="lock icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
				<div class="field">
                    <label>{{msg . "account.password"}}</label>
					<div class="ui left labeled icon input">
                        <input type="password" name="user.ConfirmPassword" placeholder="{{msg . "account.password"}}">
						<i class="lock icon"></i>
						<div class="ui corner label">
							<i class="icon asterisk"></i>
						</div>
					</div>
				</div>
                <button class="ui blue submit button">{{msg . "account.reset"}}</button>
			</div>
		</form>
	</div>
	<div class="column">
	</div>
</div>
</form>
{{template "footer.html" .}}
