{{set . "title" "Status"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
    <div class="ui sub menu">
      <a class="item" href="/">SET</a>
      <a class="active item" href="#">STATUS</a>
    </div>
</div>
</div>
    <div class="ui two column page grid">
	    {{template "left_side.html" .}}
      <div class="twelve wide column">
        <table class="ui table segment">
          <thead>
            <tr>
              <th>#</th>
              <th>When</th>
              <th>Who</th>
              <th>Problem</th>
              <th>Lang</th>
              <th>Verdict</th>
              <th>Time</th>
              <th>Memory</th>
            </tr>
          </thead>
          <tbody>
          	{{range $s := .sources}}
            <tr>
	      <td>{{$s.Id}}</td>
              <td>1993.10.1</td>
              <td>{{$s.UserId}}</td>
              <td>sum</td>
	      <td>{{ $s.StatusString }}</td>
              <td class="positive">{{ $s.StatusString }}</td>
              <td>0 ms</td>
              <td>0 KB</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
{{template "footer.html" .}}
