{{set . "title" "Status"}}
{{template "header.html" .}}
{{template "sub_header.html" .}}
<div class="ui sub menu">
    <a class="item" href="/">{{msg . "SET"}}</a>
    <a class="active item" href="#">{{msg . "STATUS"}}</a>
</div>
</div>
</div>
<div  class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		Tests
	</div>
	<div id="check" class="content">
	</div>
	<div class="actions">
		<div class="ui button">OK</div>
	</div>
</div>
    <div class="ui two column page grid">
	    {{template "left_side.html" .}}
      <div class="twelve wide column">
	<div class="ui disable loader"></div>
	<table class="ui table segment">
	<thead>
		<tr>
			<th>#</th>
            <th>{{msg . "status.when"}}</th>
            <th>{{msg . "status.who"}}</th>
            <th>{{msg . "status.problem"}}</th>
            <th>{{msg . "status.lang"}}</th>
            <th>{{msg . "status.verdict"}}</th>
            <th>{{msg . "status.memory"}}</th>
            <th>{{msg . "status.time"}}</th>
		</tr>
	</thead>
	<tbody>
	{{range $s := .sources}}
	<tr>
		<td class="id"><a href="javascript:void(0)">#{{$s.Id}}</a></td>
		<td>{{ $s.CreatedTime }}</td>
		<td><a href="/user/u/{{$s.UserId}}">{{ $s.GetUserName }}</a></td>
		<td>{{ $s.GetProblemTitle }}</td>
		<td class="view" ><a href="javascript:void(0)">{{ $s.LangString }}</a></td>
		{{ with $status := $s.StatusString}}
		{{if eq $status  "Accept"}}
		<td class="positive">
		{{else}}
		{{if eq $status "Handling"}}
		<td class="warning">
		{{else}}
		<td class="status error">
		{{end}}
		{{end}}
		{{ $status }}</td>
		{{end}}
		<td>{{ $s.Memory }} KB</td>
		<td>{{ $s.Time }} MS</td>
		</tr>
			{{end}}
			</tbody>
		</table>
		{{ .pagination.Html }}
	</div>
</div>
{{template "footer.html" .}}
