<div class="ui three column grid">
	<div class="column">
	</div>
	<div class="column">
		{{if .flash.success }}
		<div class="ui success message">
			<i class="close icon"></i>
			<div class="header">
				{{.flash.success}}
			</div>
		</div>      
		{{end}}
		{{if or .errors .flash.error}}
		<div class="ui error message">
			<i class="close icon"></i>
			{{if .flash.error}}
			<div class="header">
				{{.flash.error}}
			</div>
			{{end}}
			<ul class="list">
				{{range .errors}}
				<li>{{.}}</li>
				{{end}}
			</ul>
		</div>      
		{{end}}
	</div>
	<div class="column">
	</div>
</div>
