<div class="ui page grid">
	<div class="ui menu">
		<div class="menu">
			<a class="item" href="/Problems/Index/" >
				<i class="question green icon"></i> PROBLEMSET
			</a>
			<a class="item" href="/User/Rating/">
				<i class="trophy blue icon"></i> RATING
			</a>
			<div class="right menu">
				<div class="item">
					<form method="GET" action="/Problems/Search">
						<div class="ui icon input">
							<input type="text" placeholder="Search by tag..." name="key">
							<i class="search link icon"></i>
						</div>
					</form>
				</div>
			</div>
		</div>
