<div class="ui page grid">
	<div class="ui menu">
		<div class="menu">
			<a class="item" href="/Problems/Index/" >
				<i class="question green icon"></i> PROBLEMSET
			</a>
			<a class="item" href="/User/Rating/">
				<i class="trophy blue icon"></i> RATING
			</a>
			<div class="right menu">
				<div class="item">
					<script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://rp.baidu.com/rp3w/3w.js?sid=3968634929275541168') + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
				</div>
			</div>
		</div>
